@model BannerViewModel
@{
    Layout = null;
}
Hello Sample

<div class="banner-container">
  <div class="banner">
    @foreach (var banner in Model.Banners)
    {
      @banner.Text(new TextBannerSetting { Name = "Title" })
      @banner.Text(new TextBannerSetting { Name = "SubTitle" })
      <img src="@banner.Image(new ImageBannerSetting {Name = "Banner", Size = new ImageSize(800, 400)})" alt="Image 2">
    }
  </div>
</div>

<style>
.banner-container {
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.banner {
  display: flex;
  animation: scrollBanner 9s linear infinite;
}

.banner img {
  width: 800px;
  height: 400px;
}

@@keyframes scrollBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px); /* 3 images * 800px each */
  }
}    
</style>