.vs/
bin/
obj/
packages/
node_modules/
debug/
target/
*.user
*.lock
dist/
.idea/
*.trx
*.log
package-lock.json
*.DotSettings
GPUCache/
.parcel-cache/
logs/
__pycache__/
checkpoints/
pytorch_bert/huggingface/
results/