.vs/
bin/
obj/
packages/
node_modules/
debug/
target/
*.user
*.lock
dist/
.idea/
*.trx
*.log
package-lock.json
*.DotSettings
GPUCache/
.parcel-cache/
logs/
__pycache__/
checkpoints/
pytorch_bert/huggingface/
results/
output/
Models/
*.env
torch-segment-demo/data
torch-segment-demo/public/app
.chainlit/
*.interp
*.tokens
T1.ParserKit/Antlr4Tool/*.cs
torch-qa/data/support.txt
ChatTrainDataWeb/ChatTrainDataWeb/Data
torch-qa/Llama-2-7b-chat-finetune
torch-qa/demo1/qdrant_storage
.cache/
.ipynb_checkpoints/
download/
download2/
.ipynb_checkpoints/
models/
data/
.vscode/
downloads/
outputs/
data_cache/
torch-qa/fine-tune/data-user/support.md
torch-qa/ipy/seamless_communication/
torch-qa/fine-tune/data-processed/
cache/
results/
qdrant_storage/
db_data/
cache_dir/
bash/nvim-linux64
bash/cuda_12.2.2_535.104.05_linux.run
bash/cuda-keyring_1.1-1_all.deb
vscode-plugin-demo/artemis/out
T1.GrpcSourceGenerator/ConsoleTestApp/GrpcProto
T1.GrpcSourceGenerator/ConsoleTestApp/GrpcServices
game-sudoku/build/distributions
game-sudoku/build/kotlin/compileKotlin
game-sudoku/build/libs
game-sudoku/build/classes
game-sudoku/gradle
game-sudoku/.gradle
game-sudoku/build/kotlin/compileTestKotlin
game-sudoku/build/test-results/test/binary
game-sudoku/build/test-results/test
game-sudoku/app/build/kotlin
game-sudoku/app/build/tmp
game-sudoku/app/build/intermediates
game-sudoku/app/build/reports
.DS_Store
gsoft/interactive-feedback-mcp
.serena/
VimSharp/chrome-extension-sharp/build
T1.SlackSdk/T1.SlackSdk/nupkg
gsoft/lf
gsoft/ff
gsoft/dk
T1.GrpcProtoGenerator/DemoServer/Generated
T1.GrpcProtoGenerator/MyProtoContracts/Generated
T1.GrpcProtoGenerator/T1.GrpcProtoGenerator/nupkg
tools/MakeSwaggerSDK/Generated
tools/MakeSwaggerSDK/MakeSwaggerSDK/Generated
tools/CodeBoy/Generated
T1.GrpcProtoGenerator/DemoServerTest/Generated
T1.EfCodeFirstGenerator/Example/Generated
T1.EfCodeFirstGenerateCli/Example/Generated
