@model PizzaWeb.Controllers.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/dist/pages/index.js"></script>

<div class="container">
    <div class="row">
        @foreach (var item in Model.StoreShelves)
        {
            <div class="card" style="width: 18rem;">
                <img src="https://image.shutterstock.com/image-photo/vegetarian-italian-pizza-tomatoes-mozzarella-260nw-1498794950.jpg"
                 class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }

    </div>

</div>

