<html>
<head>
   <meta charset="utf-8" />
   <title>My App</title>
   <base href="~/" />
   <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
   <link href="css/app.css" rel="stylesheet" />
</head>
<body>
   <div>
       Open the browser, then browse the demo website, 
       download the QueryApp.exe to a directory on your local machine, 
       for example, D:\demo folder, and then run it directly. 

       Note: that every time you log in, you must run this QueryApp.exe first. 
       Then you can log in and use it.
      <div>
         <a href="/Home/MyBlazor">MyBlazor Page</a>
      </div>
   </div>
</body>
</html>