<html>
<head>
   <meta charset="utf-8" />
   <title>My App</title>
   <base href="~/" />
   <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
   <link href="css/app.css" rel="stylesheet" />
   <script src="_framework/blazor.server.js"></script>
</head>
<body>
   <div id="app">
      <div>
            @(await Html.RenderComponentAsync<QueryRazor.Counter>(RenderMode.ServerPrerendered, 
                new
                {
                    Data = " Hello World "
                }))
      </div>
   </div>
</body>
</html>