@model DemoSite.Controllers.RunCodeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1 class="display-4">Welcome</h1>
   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="RunCode">
   <div>
      <textarea name="code" rows="10" cols="50">@Model.Code</textarea>
   </div>
   <button>RUN</button>
   <div>
      <textarea name="result" rows="10" cols="50">@Model.Result</textarea>
   </div>
</form>

