@model AsyncInCtlModel
<h1>UsingAsyncInController</h1>
<table>
    <tr>
        <td>CITY</td>
        <td>@Model.Info.Name</td>
    </tr>
    <tr>
        <td>Temperature</td>
        <td>@Model.Info.Temperature</td>
    </tr>
</table>

