" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
":actionlist 顯示所有的 action
let mapleader=" "
set number relativenumber
set history=200
set showcmd
set scrolloff=5
" integrate with system clipboard
"set clipboard=unnamedplus,unnamed,ideaput
set clipboard+=unnamed

" 設定搜尋時高亮顯示
set incsearch
" 設定搜尋後高亮顯示
set hlsearch
"清除高亮搜尋
nnoremap <leader>sc :nohlsearch<CR>
inoremap <leader>sc <Esc>:nohlsearch<CR>

"sethandler <C-n> a:vim
"sethandler <C-j> a:vim
"sethandler <C-c> a:vim 
"sethandler <C-k> a:vim

""" Highlight copied text -------------------
Plug 'machakann/vim-highlightedyank'



""" Plugins  --------------------------------
" Install IdeaVim-EasyMotion and AceJump plugins.
" https://github.com/AlexPl291/IdeaVim-EasyMotion#supported-commands
Plug 'vim-easymotion'
set easymotion
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)


""" surround --------------------------------
" https://github.com/tpope/vim-surround/blob/master/doc/surround.txt
" Old text                  Command     New text ~
" "Hello *world!"           ds"         Hello world!
" [123+4*56]/2              cs])        (123+456)/2
" "Look ma, I'm *HTML!"     cs"<q>      <q>Look ma, I'm HTML!</q>
" if *x>3 {                 ysW(        if ( x>3 ) {
" my $str = *whee!;         vllllS'     my $str = 'whee!';
" * 代表游標位置
Plug 'vim-surround'
set surround


""" multiple-cursors -----------------------
" v 模式選幾行, 再按下 <A-n> 即可進入多游標模式
" 在你喜歡的 單字上 輸入 mc, 即可標記, 自動到下一個單字, 如果要跳過mx, 往前跳mp
Plug 'vim-multiple-cursors'
set multiple-cursors
"nmap <S-C-a> <Plug>AllWholeOccurrences
"xmap <S-C-a> <Plug>AllWholeOccurrences
"nmap <S-C-n> <Plug>AllOccurrences
"xmap <S-C-n> <Plug>AllOccurrences
map mc <A-n>
map mx <A-x>
map mp <A-p>


""" Commentary plugin -------------------------------------------
" 在 V 模式下, 輸入 gc 即可註解
" 在 V 模式下, 輸入 gcc 即可反註解
" Plug 'tpope/vim-commentary'
Plug 'vim-commentary'
set commentary


"" 顯示 members
nnoremap zm :action FileStructurePopup<CR>

""
" 聚焦 test explorer
nmap zft :action ActivateTestToolWindow<CR>

" 單元測試
nmap zt :action RiderUnitTestRunContextAction<CR>
nmap ztd :action RiderUnitTestDebugContextAction<CR>
" 打開單元測試視窗
nmap zte :action RiderUnitTestFocusExplorerAction<CR>
nmap zvf :action HideAllWindows<CR>

""" -------------------------------------------
" daa 刪除參數
" cia 更改內部參數
" via 選擇內部參數
Plug 'vim-scripts/argtextobj.vim'
set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"



""" Plugin settings -------------------------
Plug 'kana/vim-textobj-entire'
set textobj-entire
"nnoremap ae	<Plug>(textobj-entire-a)
"nnoremap ie	<Plug>(textobj-entire-i)


""" -----------------------------------------
" 在 V 模式下, 可按 <leader>r 將highlight text替換為 register 1 的內容 
" "2gr 替換為 register 2 的內容 
set ReplaceWithRegister
nmap <Leader>r  <Plug>ReplaceWithRegisterOperator
nmap <Leader>rr <Plug>ReplaceWithRegisterLine
xmap <Leader>r  <Plug>ReplaceWithRegisterVisual


""" -------------------------------------------
" Tom "The Dev" McDonald (a Vim)
" 上面內容在 "The Dev" 中, 輸入 cxi" 
" 然後去 (a Vim) 中, 輸入 cxi)
" 就會交換內容變成下面內容
" Tom "a Vim" McDonald (The Dev)
set exchange
nmap cx <Plug>(Exchange)
xmap X <Plug>(Exchange)
nmap cxc <Plug>(ExchangeClear)
nmap cxx <Plug>(ExchangeLine)



" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
" map <C-n> <Plug>NextWholeOccurrence


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" Don't use Ex mode, use Q for formatting.
" map Q gq

""" -------------------------------------------
Plug 'preservim/nerdtree'
set NERDTree
map <A-e> :NERDTree<CR>


""" 
" 無干擾模式, 請先設定 Advanced Settings -> Left margin in distraction free mode: -1 改為 0
" 第一次使用的時候, 你會發現左邊沒有顯示行號, 可以用滑鼠移到左邊點擊右鍵, 選取 Appearance -> Show Line Number 顯示行號
nnoremap <A-w> :action ToggleDistractionFreeMode<CR>
" 垂直切割視窗
nnoremap <A-\> :action SplitVertically<CR>
nnoremap <A--> :action SplitHorizontally<CR>
nnoremap <A-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <A-j> <c-w>j
nnoremap <A-k> <c-w>k
nnoremap <A-h> <c-w>h
nnoremap <A-l> <c-w>l
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>
" 開新的視窗編輯程式碼
nnoremap <Leader>e :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>


nnoremap <A-u> 20k
nnoremap <A-d> 20j
nnoremap <A-w> :action CloseAllEditorsButActive<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)
"" Map <leader>d to start debug
map <leader>d <Action>(Debug)
"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)
map <A-Left> :action GotoLastEditPosition<CR>


" add 註解
map zc :action CommentByLineComment<CR>
imap zc :action CommentByLineComment<CR>
map zmz :action ReformatCode<CR>
map zrc :action RearrangeCode<CR>
nmap [ :action MethodUp<CR>
nmap ] :action MethodDown<CR>
nmap [[ ?class<CR>:action MethodDown<CR>
map <A-[> :action MoveStatementUp<CR>
map <A-]> :action MoveStatementDown<CR>

" 移動 line 程式碼上下
map <A-Up> :action MoveLineUp<CR>:action VimAutoIndentLines<CR>
imap <A-Up> <Esc>:action MoveLineUp<CR>:action VimAutoIndentLines<CR>
map <A-Down> :action MoveLineDown<CR>:action VimAutoIndentLines<CR>
imap <A-Down> <Esc>:action MoveLineDown<CR>:action VimAutoIndentLines<CR>

" 跳到錯誤的地方
nmap zn :action ReSharperGotoNextErrorInSolution<CR>
nmap ze :action GotoNextError<CR>
nmap zE :action GotoPreviousError<CR>

" 標記 word 並加上 雙引號
nmap "iw viw"ac""<Esc><left>"ap
nmap 'iw viw'ac''<Esc><left>'ap

" 刪除 %
nmap <leader>d% my%x`yx

" 滾動
noremap jh 9jzz
noremap jk 9kzz




function! CopyPrevCSharpMethod()
  " 1. 保存当前光标位置
  normal! ma
  
  " 2. 移动到上一个方法的开始
  " 假设方法定义以关键字 'void' 开始
  let l:pattern = '^\s*\(public\|private\|protected\|internal\)\?\s*\(async\s\)\?\(void\|[a-zA-Z_][a-zA-Z0-9_<>]*\)\s*[a-zA-Z_][a-zA-Z0-9_]*\s*(.*)$'
  let l:method_line = search(l:pattern, 'bW')
  
  " 3. 向上移动一行
  if l:method_line != 0
    normal! k
  endif
  
  " 4. 标记当前位置到位置 A
  normal! V'a
  
  " 5. 复制内容到寄存器 0
  normal! "0y
  
  " 6. 粘贴内容
  normal! "0P
  
  " 7. 移动光标回到位置 A
  normal! `a
endfunction

nnoremap zcp :call CopyPrevCSharpMethod()<CR>
nnoremap gc :action Git.Commit.Stage<CR>