@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Query World!</h1>

Welcome to QueryWeb.

<p>CTRL + r: execute SQL</p>
<p>CTRL + i: insert snippet block from history</p>
<p>CTRL + &lt;space&gt;: popup intellisence</p>
