@using QueryKits.Services
@inherits LayoutComponentBase
@using QueryWeb.Pages
<PageTitle>QueryWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div class="@_appStateClass">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<style>
    .BlockUI {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
</style>
@inject IAppState AppState

@code{

    string _appStateClass = "visually-hidden";

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Initialize();
        }
        return Task.CompletedTask;
    }

    void Initialize()
    {
        AppState.SubscribeEvent<UpdateAppReqEvent>(async (args) =>
        {
            await InvokeAsync(() =>
            {
                _appStateClass = AppState.IsLoading ? "BlockUI" : "visually-hidden";
                StateHasChanged();
            });
        });
    }

}