@using QueryKits.Services
@using Prism.Events

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QueryWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="mb-3">
            <label class="form-label"><span class="text">選擇檔案 (支援的檔案類型: .csv, .xlsx)</span></label>
            <input type="file" @ref="_inputFileRef" class="form-control" accept=".csv,.xlsx">
        </div>
        <div class="mb-3">
            <Button class="btn btn-primary" @onclick="@(() => UploadFile(_inputFileRef))">Import</Button>
        </div>
        <div class="nav-item px-3 dropdown">
            <NavLink class="nav-link dropdown-toggle" href="/queryForm">
                <span class="oi oi-plus" aria-hidden="true"></span> Query
            </NavLink>
            <div style="display: block">
                @foreach (var item in _allTableNames)
                {
                    <NavLink class="dropdown-item">item</NavLink>
                }
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
<style>
.text{
    color: white;
    font-size: 20px;
}
</style>

@inject IReportRepo ReportRepo
@inject IJSRuntime JsRuntime
@inject IAppState AppState
@inject IEventAggregator EventAggregator
@code {
    private List<string> _allTableNames = new();
    private bool _collapseNavMenu = true;
    ElementReference _inputFileRef;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
    
    public async Task UploadFile(ElementReference fileInput)
    {
        AppState.Publish(x => x.IsLoading = true);
        await JsRuntime.InvokeVoidAsync("uploadFileElementAsync", 
            "/api/File/Upload", 
            fileInput);
        AppState.Publish(x => x.IsLoading = false);
    }

    protected override Task OnInitializedAsync()
    {
        try
        {
            _allTableNames = ReportRepo.GetAllTableNames();
        }
        catch
        {
            // ignored
        }
        return Task.CompletedTask;
    }

}